
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('https://img.freepik.com/premium-photo/blank-green-paper-texture-background-detail-close-up_7190-1234.jpg?w=740');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: #0c6800;
    margin-bottom: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.input-group input:focus {
    outline: none;
    border-color: #4CAF50;
}

.submit-button {
    text-align: center;
    position: relative;
}

.submit-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button button:hover {
    background-color: #45a049;
}

textarea{
    
    border: none;
    width: 500px;
    height: 500px;
    text-align: start;
    padding: 5px 5px;
    margin: auto 15px;
}
.area{
    display: flex;
    flex-direction: row;
    grid-area: 1rem;
    align-items: center;
    justify-content: center;
}